<div class="sticky top-0 left-0 right-0 z-40 <%= _url_ === "/" ? "bg-transparent" : "bg-white" %> w-screen py-3 hover:bg-white group lg:px-7">

    <!-- Hamburger Menu -->
    <div id="hamburger-overlay" class="hidden w-screen h-screen absolute z-40 bg-black opacity-30"></div>
    <div id="hamburger-menu"
        class="px-7 h-screen w-full absolute z-50 bg-white flex flex-col space-y-5 -translate-x-full transition-transform md:w-1/2 lg:hidden">
        <span id="close-hamburger-btn" class="text-4xl py-5 cursor-pointer">&times;</span>
        <div class="flex flex-col divide-y divide-gray-800">
            <div class="py-5 flex items-center justify-between">
                <span class="text-gray-800">BEST SELLER</span>
                <span>&rang;</span>
            </div>
            <div class="py-5 flex items-center justify-between">
                <span class="text-gray-800">FRAGARANCE</span>
                <span>&rang;</span>
            </div>
            <div class="py-5 flex items-center justify-between">
                <span class="text-gray-800">BRANDS</span>
                <span>&rang;</span>
            </div>
            <div class="py-5 flex items-center justify-between">
                <span class="text-gray-800">FANCY BOTTLE</span>
                <span>&rang;</span>
            </div>
            <div class="py-5 flex items-center justify-between">
                <span class="text-gray-800">ACCESSORIES</span>
                <span>&rang;</span>
            </div>
            <div class="py-5 flex items-center justify-between">
                <span class="text-gray-800">DECANT/SAMPLE</span>
                <span>&rang;</span>
            </div>
        </div>
    </div>


    <!-- Cart Menu -->
    <div id="cart-overlay" class="hidden w-screen h-screen absolute z-40 -top-4 -left-4 bg-black opacity-30"></div>
    <div id="cart-menu"
        class="px-7 pb-16 h-screen w-full absolute right-0 z-50 bg-white flex flex-col space-y-5 translate-x-full transition-transform md:w-1/4">
        <div class="p-5 flex justify-between items-center">
            <span class="text-2xl">CART</span>
            <span id="close-cart-btn" class="text-4xl cursor-pointer">&times;</span>
        </div>
        <!-- If cart is empty -->
        <!-- <div class="h-full flex justify-center items-center">
            YOUR CART IS EMPTY
        </div> -->
        <!-- else -->
        <!-- cart items -->
        <div class="h-full flex flex-col space-y-3">
            <% if (cartProducts.length > 0) { %> <!-- if cart is not empty -->
                <% for( const product of cartProducts ) { %>
                    <div class="p-2 flex space-x-3"> <!-- cart item -->
                        <!-- product image -->
                        <img src="<%= product.img_url %>" class="object-contain object-center w-1/2">
                        <div class="flex flex-col space-y-1">
                            <h3 class="text-lg text-gray-800"><%= product.name %></h3>
                            <span class="text-sm text-gray-500">&#8377; <%= product.price?.toLocaleString() %></span>
                            <form action='/user/cart/modify/<%= product.slug %>'  class="flex space-x-2">
                                <input onchange="this.form.submit();" type="number" name="quantity" class="px-3 py-1 w-12 text-gray-800 md:w-16" min="1" max="10" value="<%= product.quantity %>">
                                <button type="submit" name="remove" value="true" class="text-black underline hover:no-underline">Remove</button>
                            </form>
                        </div>
                    </div>
                <% } %>
                <% } else { %> <!-- if cart is empty -->
                    <div class="h-full flex justify-center items-center">
                        YOUR CART IS EMPTY
                    </div>
                <% } %>
            <!-- <div class="p-2 flex space-x-3"> 
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSYscfUBUbqwGd_DHVhG-ZjCOD7MUpxp4uhNe7toUg4ug&s" class="w-1/2 h-1/2 object-contain object-center">
                <div class="flex flex-col space-y-1">
                    <h3 class="text-lg text-gray-800">Product Name</h3>
                    <span class="text-sm text-gray-500">&#8377; 500</span>
                    <form action="/user/cart/modify/:slug"  class="flex space-x-2">
                        <input onchange="this.form.submit();" type="number" name="product-quantity" id="product-quantity" class="px-3 py-1 w-12 text-gray-800 md:w-16" min="1" max="10" value="1">
                        <button type="submit" name="remove-btn" value="true" class="text-black underline hover:no-underline">Remove</button>
                    </form>
                </div>
            </div> -->
        </div>
        <!-- checkout btn -->
        <% if (cartProducts.length > 0) { %>
            <a href="/user/checkout" class="primary-btn-full overflow-y-hidden hover:before:translate-x-0 hover:text-black">Checkout</a>
        <% } %>
    </div>

    <!-- Flex Container -->
    <div class="flex px-2 py-3 items-center justify-between">
        <!-- Hamburger Menu -->
        <img id="open-hamburger-btn" src="/assets/hamburger-menu.svg" alt="" class="h-8 w-8 <%= _url_ === "/" ? "invert" : "" %> lg:hidden">
        <!-- Logo + Links -->
        <div class="flex items-center space-x-5 px-3 md:px-5 md:space-y-7">
            <a href="/" class="text-sm text-gray-600 group-hover:text-black md:tracking-wider md:px-5 md:text-xl lg:text-5xl">ShopNest</a>
            <!-- links -->
            <div class="hidden <%= _url_ === "/" ? "text-white group-hover:text-black" : "" %> lg:flex lg:space-x-7">
                <!-- Dropdown link -->
                <div class="dropdown-link group/dropdown">
                    <span class="cursor-pointer">AIR CONDITIONERS</span>
                    <div class="dropdown-content">
                        <a href="#">Voltas ACs</a>
                        <a href="#">LG ACs</a>
                    </div>
                </div>
                <div class="dropdown-link group/dropdown">
                    <span class="cursor-pointer">MOBILES & TABLETS</span>
                    <div class="dropdown-content">
                        <a href="#">iPhones</a>
                        <a href="#">Smartphones</a>
                        <a href="#">Basic phones</a>
                    </div>
                </div>
                <div class="dropdown-link group/dropdown">
                    <span class="cursor-pointer">TELEVISIONS</span>
                    <div class="dropdown-content">
                        <a href="#">LED TV</a>
                        <a href="#">OLED TV</a>
                        <a href="#">HD TV</a>
                        <a href="#">FULL HD TV</a>
                        <a href="#">4K/ULTRA HD TV</a>
                        <a href="#">LG TV</a>
                        <a href="#">Samsung TV</a>
                        <a href="#">Lattafa</a>
                        <a href="#">Naseem Perfumes</a>
                        <a href="#">Didn't find required perfume</a>
                    </div>
                </div>
                <div class="dropdown-link group/dropdown">
                    <span class="cursor-pointer">LAPTOPS & PRINTERS</span>
                    <div class="dropdown-content">
                        <a href="#">Laptops</a>
                        <a href="#">Desktops</a>
                        <a href="#">Printers</a>
                        <a href="#">Monitor</a>
                        <a href="#">Gaming Laptops</a>
                    </div>
                </div>
                <div class="dropdown-link group/dropdown">
                    <span class="cursor-pointer">HOME APPLIANCES</span>
                    <div class="dropdown-content">
                        <a href="#">Air Conditioners</a>
                        <a href="#">Air Coolers</a>
                        <a href="#">Washing Machines</a>
                        <a href="#">Dish Washers</a>
                        <a href="#">Refrigerators</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- user + search + cart -->
        <div class="flex space-x-1 px-3 md:space-x-3 md:px-5">
            <img src="/assets/person.svg" alt="" class=" hidden cursor-pointer <%= _url_ === "/" ? "invert group-hover:invert-0" : "" %> w-8 md:w-10 md:block">
            <img src="/assets/search.svg" alt="" class="cursor-pointer <%= _url_ === "/" ? "invert group-hover:invert-0" : "" %> w-8 md:w-10" id="header-search-btn">
            <img id="open-cart-btn" src="/assets/shopping-bag.svg" alt="" class="cursor-pointer <%= _url_ === "/" ? "invert group-hover:invert-0" : "" %> w-8 md:w-10">
        </div>

    </div>
    <!-- Search Input -->
    <div class="w-[95vw] bg-white space-between items-center hidden" id="header-search">
        <img src="/assets/search.svg" alt="" class="cursor-pointer w-8 h-8 m-2">
        <input type="text" id="header-search-input" placeholder="Search Product..." class="grow p-3 outline-none uppercase">
        <div id="header-search-cancel" class="cursor-pointer text-3xl m-2 text-gray-500 flex justify-center items-center">&times;</div>
    </div>
</div>