<!-- <div id="hamburger-overlay" class="hidden w-screen h-screen absolute z-40 bg-black opacity-30"></div>
<div id="hamburger-menu"
    class="px-7 h-screen w-full absolute z-50 bg-white flex flex-col space-y-5 -translate-x-full transition-transform md:w-1/2">
    <span id="close-hamburger-btn" class="text-4xl py-5">&times;</span>
    <div class="flex flex-col divide-y divide-gray-800">
        <div class="py-5 flex items-center justify-between">
            <span class="text-gray-800">BEST SELLER</span>
            <span>&rang;</span>
        </div>
        <div class="py-5 flex items-center justify-between">
            <span class="text-gray-800">FRAGARANCE</span>
            <span>&rang;</span>
        </div>
        <div class="py-5 flex items-center justify-between">
            <span class="text-gray-800">BRANDS</span>
            <span>&rang;</span>
        </div>
        <div class="py-5 flex items-center justify-between">
            <span class="text-gray-800">FANCY BOTTLE</span>
            <span>&rang;</span>
        </div>
        <div class="py-5 flex items-center justify-between">
            <span class="text-gray-800">ACCESSORIES</span>
            <span>&rang;</span>
        </div>
        <div class="py-5 flex items-center justify-between">
            <span class="text-gray-800">DECANT/SAMPLE</span>
            <span>&rang;</span>
        </div>
    </div>
</div> -->

<div class="relative w-screen h-[400px] md:h-screen">

    <%- include('./partials/header.ejs') %>

        <!-- Banner -->
        <!-- Banner Images from - https://www.freepik.com/free-photos-vectors/home-appliances-banner -->
        <div class="absolute top-0 left-0 right-0 z-20 w-screen min-h-full overflow-hidden">
            <!-- Slider Container -->
            <!-- <div class="relative"> -->
            <!-- Banner 1 -->
            <div class="banner">
                <!-- Banner 1 -->
                <img class="banner-img" src="https://plus.unsplash.com/premium_photo-1682125227290-f62abb91ed5b?q=80&w=2080&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt=""  />
                <!-- Banner 2 -->
                <img class="banner-img" src="https://images.unsplash.com/photo-1518770660439-4636190af475?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" />
                <!-- Banner 3 -->
                <img class="banner-img" src="https://images.unsplash.com/photo-1532186773960-85649e5cb70b?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" />
                <div class="banner-content">
                    <h2>ShopNest</h2>
                    <h4>Where every purchase unfolds a world of delightful possibilites.</h4>
                </div>
            </div>
            <!-- </div> -->
        </div>
</div>

<!-- Wrapper -->
<div class="pt-16 pb-8 divide-y divide-gray-300 bg-gray-200 w-screen">
    <!-- Shop - Premium Best Seller -->
    <div class="py-8 flex flex-col space-y-7 lg:mx-auto lg:container">
        <!-- Title(s) -->
        <div class="flex flex-col space-y-3 items-center">
            <h5 class="text-gray-800 text-sm">SHOP</h5>
            <p class="text-xl text-gray-800 font-semibold">PREMIUM BEST SELLER</p>
        </div>
        <!-- Product(s) -->
        <div class="flex flex-col md:flex-row md:space-x-7">
            <!-- Left Portion -->
            <div class="w-11/12 mx-auto md:w-1/2">
                <img class="mx-auto w-11/12 object-center object-contain" src="https://m.media-amazon.com/images/I/71L+JnVXFTL._AC_UY218_.jpg"/>
                <a href="/products/Xiaomi-108-cm-(43-inches)-X-Series-4K-Ultra-HD-Smart-Google-TV-L43M8-A2IN-(Black)" target="_blank" class="block w-2/5 mx-auto my-3 px-3 py-1 text-white text-center bg-black md:px-5 md:py-3 md:hidden">
                    VIEW PRODUCT
                </a>
            </div>
            <!-- Right Portion -->
            <div class="hidden w-1/2 flex-col space-y-5 items-center md:flex">
                <img class="mx-auto w-1/2" src="https://m.media-amazon.com/images/I/71L+JnVXFTL._AC_UY218_.jpg" />
                <h5 class="text-gray-800 font-semibold text-lg">
                    Xiaomi X Series 4K Ultra HD Smart Google TV
                </h5>
                <p class="text-gray-600">From &#8377;25999.00</p>
                <a href="/products/Xiaomi-108-cm-(43-inches)-X-Series-4K-Ultra-HD-Smart-Google-TV-L43M8-A2IN-(Black)" target="_blank" class="w-2/5 mx-auto px-3 py-1 primary-btn-full hover:before:translate-x-0 hover:text-black">
                    VIEW PRODUCTS
                </a>
            </div>
        </div>
    </div>
    <!-- Featured Products - ShopNest -->
    <div class="py-24 flex flex-col space-y-7">
        <!-- Title(s) -->
        <div class="flex flex-col space-y-3 items-center">
            <h5 class="text-gray-800 text-sm">FEATURED PRODUCTS</h5>
            <p class="text-xl text-gray-800 font-semibold">ShopNest</p>
        </div>
        <!-- Product(s) -->
        <div
            class="products mx-auto flex space-x-5 w-11/12 overflow-x-scroll whitespace-nowrap no-scrollbar  cursor-grab lg:container">
            <!-- Product Card -->
            <% if (featured_products.length > 0) { %>
                <% for( let featured_product of featured_products ) { %>
                    <div class="product-card">
                        <a href="/products/<%= featured_product.slug %>" target="_blank">
                            <img class=""
                                src="<%= featured_product.img_url %>"
                                alt="" />
                            <p class="product-name"><%= featured_product.name.substring(0, 25) + "..." %></p>
                            <p class="product-price">From &#8377;<%= featured_product.price %></p>
                        </a>
                    </div>
                <% } %>
            <% } else { %>
                <div class="product-card">
                    <img class=""
                        src="https://junaidalatoor.com/cdn/shop/products/image_b4a4b7ca-b894-4865-a3f2-44aec9e724a5.jpg?v=1668222152&width=2048"
                        alt="" />
                    <p class="product-name">HOOR ATTAR</p>
                    <p class="product-price">From &#8377;400.00</p>
                </div>
            <% } %>
        </div>
    </div>
    <!-- Section(s) -->
    <div class="py-24 mx-auto grid gap-1 md:grid-cols-2 lg:grid-cols-3 lg:container">
        <!-- Section 1-->
        <div class="section group/section-img">
            <div class="section-image-wrapper">
                <!-- src="https://plus.unsplash.com/premium_photo-1679943423706-570c6462f9a4?q=80&w=2010&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" -->
                <img 
                src="/assets/img/ac-background.avif"
                 loading="lazy"
                    draggable="false"
                    class="object-cover object-center group-hover/section-img:scale-110"/>
                <div class="section-overlay"></div>
            </div>
            <div class="section-content">
                <p class="text-white font-semibold text-lg md:text-xl">AIR CONDITIONERS</p>
                <a href="/products?category=ac" target="_blank" class="w-11/12 mx-auto px-3 py-1 text-white bg-black md:px-5 md:py-3">VIEW PRODUCTS</a>
            </div>
        </div>
        <!-- Section 2-->
        <div class="section group/section-img">
            <div class="section-image-wrapper">
                <!-- src="https://images.unsplash.com/photo-1523206489230-c012c64b2b48?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" -->
                <img
                src="/assets/img/phone-background.avif"
                loading="lazy" 
                 draggable="false"
                    class="object-cover object-center group-hover/section-img:scale-110"/>
                <div class="section-overlay"></div>
            </div>
            <div class="section-content">
                <p class="text-white font-semibold text-lg md:text-xl">PHONES</p>
                <a href="/products?category=phone" target="_blank" class="w-11/12 mx-auto px-3 py-1 text-white bg-black md:px-5 md:py-3">VIEW PRODUCTS</a>
            </div>
        </div>
        <!-- Section 3-->
        <div class="section group/section-img">
            <div class="section-image-wrapper">
                <!-- src="https://plus.unsplash.com/premium_photo-1686090448668-8a323ffc622b?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" -->
                <img
                src="/assets/img/tv-background.avif"
                    draggable="false"
                    class="group-hover/section-img:scale-110"/>
                <div class="section-overlay"></div>
            </div>
            <div class="section-content">
                <p class="text-white font-semibold text-lg md:text-xl">TELEVISION</p>
                <a href="/products?category=tv" target="_blank" class="w-11/12 mx-auto px-3 py-1 text-white bg-black md:px-5 md:py-3">VIEW PRODUCTS</a>
            </div>
        </div>
        <!-- Section 4-->
        <div class="section group/section-img">
            <div class="section-image-wrapper">
                <!-- src="https://plus.unsplash.com/premium_photo-1664699099330-bec2db269b58?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" -->
                <img
                src="/assets/img/desktop-background.avif"
                    draggable="false"
                    class="group-hover/section-img:scale-110"/>
                <div class="section-overlay"></div>
            </div>
            <div class="section-content">
                <p class="text-white font-semibold text-lg md:text-xl">DESKTOPS</p>
                <a href="/products?category=desktop" target="_blank" class="w-11/12 mx-auto px-3 py-1 text-white bg-black md:px-5 md:py-3">VIEW PRODUCTS</a>
            </div>
        </div>
        <!-- Section 5-->
        <div class="section group/section-img">
            <div class="section-image-wrapper">
                <!-- src="https://images.unsplash.com/photo-1525547719571-a2d4ac8945e2?q=80&w=1964&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" -->
                <img
                src="/assets/img/laptop-background.avif"
                    draggable="false"
                    class="group-hover/section-img:scale-110"/>
                    <div class="section-overlay"></div>
            </div>
            <div class="section-content">
                <p class="text-white font-semibold text-lg md:text-xl">LAPTOPS</p>
                <a href="/products?category=laptop" target="_blank" class="w-11/12 mx-auto px-3 py-1 text-white bg-black md:px-5 md:py-3">VIEW PRODUCTS</a>
            </div>
        </div>
        <!-- Section 6-->
        <div class="section group/section-img">
            <div class="section-image-wrapper">
                <!-- src="https://images.unsplash.com/photo-1556185781-a47769abb7ee?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" -->
                <img
                src="/assets/img/home-appliance-background.avif"
                    draggable="false"
                    class="group-hover/section-img:scale-110"/>
                    <div class="section-overlay"></div>
            </div>
            <div class="section-content">
                <p class="text-white font-semibold text-lg md:text-xl">HOME APPLIANCE</p>
                <a href="/products?category=home-appliance" target="_blank" class="w-11/12 mx-auto px-3 py-1 text-white bg-black md:px-5 md:py-3">VIEW PRODUCTS</a>
            </div>
        </div>

    </div>
    <!-- SHOP - OUR BEST SELLER -->
    <div class="py-24 mx-auto flex flex-col space-y-7 lg:container">
        <!-- Title(s) -->
        <div class="flex flex-col space-y-3 items-center">
            <h5 class="text-gray-800 text-sm">SHOP</h5>
            <p class="text-xl text-gray-800 font-semibold">OUR BEST SELLER</p>
        </div>
        <!-- Product -->
        <div class="flex flex-col space-y-5 md:flex-row md:space-x-7 md:space-y-0">
            <div class="w-11/12 mx-auto md:w-1/2">
                <img class="mx-auto w-11/12 object-center object-contain"
                    src="https://m.media-amazon.com/images/I/713wikXPzCL._AC_UY218_.jpg"/>
            </div>
            <div class="w-11/12 text-center flex flex-col space-y-2 md:w-1/2 md:justify-center">
                <h5 class="text-gray-800 font-semibold text-lg">
                    HP Pavilion X360 11th Gen Intel Core i7 14
                </h5>
                <p class="text-gray-600">From &#8377;400.00</p>
                <a href="/products/HP-Pavilion-X360-11th-Gen-Intel-Core-i7-14%22--35.6cm--FHD-Multitouch-2in1-Laptop--16Gb-Ram-512Gb-Ssd-B&O-Win-11-Home-FPR-Backlit-Kb-Intel-Iris-Xe-Graphics-Pen-Alexa-Ms-Office-Silver-1.52Kg-14-Dy1047Tu" target="_blank" class="w-2/5 mx-auto px-3 py-1 primary-btn-full hover:before:translate-x-0 hover:text-black">
                    VIEW PRODUCT
                </a>
            </div>

        </div>
    </div>
    <!-- Features -->
    <div class="mx-auto lg:container">
        <div class="flex flex-col space-y-5 md:flex-row md:space-y-0 md:justify-between md:mx-auto">
            <div class="py-9 flex flex-col space-y-3 items-center">
                <img src="/assets/truck.svg" alt="" class="w-8 h-8">
                <p>FREE DOMESTIC DELIVERY</p>
                <p>On all order above 999 | Whatsapp 1234567890</p>
            </div>
            <div class="py-9 flex flex-col space-y-3 items-center">
                <img src="/assets/heart.svg" alt="" class="w-8 h-8">
                <p>FREE SAMPLE</p>
                <p>Get free complimentary sample with each order.</p>
            </div>
            <div class="py-9 flex flex-col space-y-3 items-center">
                <img src="/assets/heart.svg" alt="" class="w-8 h-8">
                <p>SECURE PAYMENTS</p>
                <p>Encrypted data to ensure payment security.</p>
            </div>
            <div class="py-9 flex flex-col space-y-3 items-center">
                <img src="/assets/chat.svg" alt="" class="w-8 h-8">
                <p>CUSTOMER SUPPORT</p>
                <p>Feel free to whatsapp for any queries.</p>
            </div>
        </div>
    </div>
</div>

<%- include('./partials/footer.ejs') %>

    <script src="/js/index.js" defer></script>
    <script src="/js/hamburger.js" defer></script>
    <!-- <script src="/js/home-products.js" defer></script> -->