<!-- <div class="text-black">
</div> -->
<%- include('./partials/header.ejs') %>

<div id="cart-alerts" class="bg-slate-100 w-screen min-h-screen">
    <!-- Alerts -->
    <% if (locals.add) { %>
        <% if (add.status === "OK") { %>
            
        <% } else { %>
            
        <% } %>
        <script>
            
        </script>
    <% } %>
    
    <!-- Flex container -->
    <div class="flex flex-col space-y-5 md:flex-row md:space-y-0 md:space-x-7 md:py-9 lg:container lg:mx-auto">
        <!-- Image -->
        <img src="<%= product.img_url %>" alt="" class="w-screen md:w-1/2 object-contain object-center">
        <!-- Product Details -->
        <div class="flex flex-col space-y-5 px-9 py-12 md:w-1/2">
            <!-- Name -->
            <div class="text-lg text-gray-800 font-semibold tracking-wider md:text-xl lg:text-3xl"><%= product.name %></div>
            <!-- Description -->
            <% if (product.desc) { %>
                <div class="flex flex-col space-y-2">
                    <% for (const line of product.desc) { %>
                        <p class="text-gray-800 text-lg"><%= line %></p>
                    <% } %>
                </div>
            <% } %>
            <!-- Price -->
            <p class="text-gray-600 text-lg">&#8377; <%= product.price.toFixed(2) %></p>
            <!-- Form -->
            <!-- <form action="/user/cart/add/<%= product.slug %>" method="get" class="w-4/5 mx-auto flex flex-col space-y-3 md:w-3/4 lg:w-1/2"> -->
                <input id="product-slug-input" type="hidden" value="<%= product.slug %>">
                <button id="add-to-cart-btn" class="primary-btn-bordered hover:before:translate-x-0 hover:text-white">Add to Cart</button>
            <!-- </form> -->
        </div>
    </div>
</div>

<%- include('./partials/footer.ejs') %>

<script src="/js/product.js" type="module" defer></script>